@use '../foundation' as fo;


//*------------------*
//*  共通部分
//*------------------*

.max-width {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;

  @include fo.tb-layout {
    padding: 0 2.5%;
  }
}

.tel {
  a {
    font-size: 24px;
    font-weight: bold;
    color: fo.$color-main;

    @include fo.tb-layout {
      font-size: 16px;
    }
  }

  &_inner {
    display: inline-flex;
    align-items: center;
  }

  &_img {
    width: 24px;
    height: 25px;
    display: flex;
    align-items: center;
    margin-right: 5px;

    @include fo.tb-layout {
      width: 14px;
      height: 14px;
    }
  }

  &_number {
    width: auto;
    height: 35px;
    display: flex;
    align-items: center;

    @include fo.tb-layout {
      height: 16px;
    }
  }
}

.bg {
  background-color: fo.$color-accent01;
}

.section_title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.583;
  text-align: center;

  span {
    background: linear-gradient(transparent 80%, fo.$color-accent02 0%);
  }
}


//*------------------*
//*  header
//*------------------*

.header {
  &_inner {
    height: 130px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include fo.tb-layout {
      height: 100px;
    }
  }

  &_title {
    width: 263px;
    height: 73px;

    @include fo.tb-layout {
      width: 150px;
      height: auto;
      margin-right: 16px;
    }
  }

  &_info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &_time {
      font-size: 14px;
      line-height: 1.429;
      text-align: right;
      margin-bottom: 7px;

      @include fo.tb-layout {
        font-size: 12px;
        line-height: 1;
      }

      span:last-child {
        padding-left: 8px;
      }
    }
  }
}


//*------------------*
//*  fv
//*------------------*

.fv {
  background: url(../images/fv_img.png) no-repeat center center / cover;
  width: 100%;
  height: 947px;
  padding-top: 133px;
  padding-left: 211px;

  @include fo.pc-layout {
    padding-left: 100px;
  }

  @include fo.tb-layout {
    height: 600px;
    padding-top: 100px;
    padding-left: 50px;
    background: url(../images/fv_img.png) no-repeat 70% 50% / cover;
  }

  @include fo.sp-layout {
    padding-left: 30px;
  }

  &_inner {
    width: calc(102px + 102px + 80px);
    height: 562px;
    position: relative;

    @include fo.tb-layout {
      width: 135px;
      height: 400px;
    }
  }

  &_title {
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    background-color: fo.$color-light;
    width: 102px;
    height: 562px;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.214;
    letter-spacing: .25em;
    display: flex;
    align-items: center;
    padding-top: 18px;

    @include fo.tb-layout {
      width: 60px;
      height: 400px;
      font-size: 20px;
    }

    &:first-child {
      position: absolute;
      top: 0;
      right: 0;
    }

    span {
      color: fo.$color-main;
    }
  }
}


//*------------------*
//*  info
//*------------------*

.info {
  padding: 162px 0 82px;

  @include fo.tb-layout {
    padding: 82px 5%;
  }

  figure {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    @include fo.pc-layout {
      flex-direction: column-reverse;
    }

    img {
      width: 100%;
      max-width: 690px;
      height: 420px;
      display: block;

      @include fo.pc-layout {
        height: auto;
        margin: 0 auto;
      }
    }

    figcaption {
      margin-left: 31px;

      @include fo.pc-layout {
        width: 100%;
        max-width: 690px;
        margin: 0 auto 50px;
      }
    }
  }

  &_title_outer {
    margin-top: 30px;
    margin-bottom: 30px;

    @include fo.pc-layout {
      margin-top: 0;
    }
  }

  &_title {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
    background: linear-gradient(transparent 70%, fo.$color-accent02 0%);

    &:first-child {
      padding-right: 8px;
      margin-bottom: 32px;
    }
  }

  &_message {
    line-height: 2.375;

    @include fo.tb-layout {
      font-size: 14px;
    }
  }
}


//*------------------*
//*  treatment
//*------------------*

.treatment {
  padding-top: 78px;
  margin-bottom: 78px;

  @include fo.pc-layout {
    padding: 78px 5% 0;
  }

  &_title {
    margin-bottom: 60px;
  }

  &_text {
    text-align: center;
    line-height: 2.375;
    margin-bottom: 25px;
  }

  &_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &_item {
    width: 33%;
    max-width: 380px;
    border: 2px solid fo.$color-gray03;
    border-radius: 10px;
    background-color: fo.$color-light;
    padding: 40px 30px 0 30px;

    @include fo.pc-layout {
      width: 100%;
      max-width: 690px;

      &:not(:last-child) {
        margin: 0 auto 30px;
      }

      &:last-child {
        margin: 0 auto;
      }
    }

    figure {
      display: flex;
      flex-direction: column-reverse;
      align-items: stretch;
      height: 100%;

      img {
        margin: auto auto 0;
        display: block;
        width: 187px;
        height: 187px;
        text-align: center;
      }
    }

    &_title {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.583;
      text-align: center;
      margin-bottom: 33px;
    }

    &_text {
      font-weight: bold;
      line-height: 2.375;
      margin-bottom: 65px;
    }
  }
}


//*------------------*
//*  news
//*------------------*

.news {
  padding-bottom: 112px;

  @include fo.pc-layout {
    padding: 0 5% 112px;
  }

  &_title {
    margin-bottom: 70px;
  }

  &_content {
    width: 100%;
    background-color: fo.$color-light;
    border-radius: 30px;
    box-shadow: 0 3px 6px fo.$color-gray02;
    padding: 40px 66px 46px;

    @include fo.pc-layout {
      max-width: 690px;
      margin: 0 auto;
      padding: 49px 5% 46px;
    }
  }

  &_list {
    margin-bottom: 30px;
  }

  &_item {
    padding-bottom: 12px;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 14px;
    }

    &:after {
      content: '';
      width: 100%;
      height: 2px;
      background-color: fo.$color-gray04;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
    }

    a {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    &_date {
      color: fo.$color-main;
      font-weight: bold;
      line-height: 2.375;
      width: 86px;
      margin-right: 30px;
    }

    &_category {
      font-size: 12px;
      font-weight: bold;
      line-height: 3.167;
      width: 80px;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: fo.$color-light;
      background-color: fo.$color-default;
      margin-right: 30px;
    }

    &_text {
      font-weight: bold;
      line-height: 2.375;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: calc(100% - 86px - 30px - 80px - 30px);

      @include fo.tb-layout {
        width: 100%;
      }
    }
  }

  &_more-link {
    font-weight: bold;
    line-height: 2.375;
    text-align: right;

    a {
      position: relative;

      @include fo.tb-layout {
        margin-right: 5%;
      }

      &:after {
        content: '▶︎';
        position: absolute;
        top: 50%;
        right: -24px;
        transform: translateY(-50%);
      }
    }
  }
}


//*------------------*
//*  footer
//*------------------*

.footer {
  padding: 188px 0 163px;

  @include fo.tb-layout {
    padding-bottom: 50px;
  }

  &_inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &_map {
    width: 100%;
    max-width: 608px;
    height: 440px;

    @include fo.pc-layout {
      max-width: 690px;
      margin: 0 auto 50px;
    }

    @include fo.tb-layout {
      height: 30vh;
    }

    iframe {
      width: 100%;
      height: 100%;
    }
  }

  &_content {
    width: 100%;
    max-width: 538px;

    @include fo.pc-layout {
      max-width: calc(690px + 5%);
      margin: 0 auto;
      padding: 0 5%;
    }
  }

  &_logo {
    display: block;
    width: 263px;
    height: 73px;
    margin-bottom: 20px;
  }

  &_address {
    line-height: 2.375;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;

    p:first-child {
      margin-right: 16px;
    }
  }

  &_tel {
    margin-bottom: 28px;
  }

  &_info {
    font-size: 14px;
    line-height: 2.37;
    margin-bottom: 11px;
    padding: 13px 5px;
    border-top: 2px solid fo.$color-gray04;
    border-bottom: 2px solid fo.$color-gray04;

    div {
      display: flex;
      flex-wrap: wrap;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    &_time {
      width: calc(56px + 29px);
      margin-right: 29px;
      border-right: 2px solid fo.$color-gray04;
    }

    &_detail {
      width: calc(100% - 56px - 29px - 29px);

      li {
        display: flex;
        flex-wrap: wrap;
      }

      .--day {
        margin-right: 23px;

        span {
          background: linear-gradient(transparent 80%, fo.$color-accent02 0%);
        }

        @include fo.tb-layout {
          margin-right: 0;
          margin-bottom: 8px;
          width: 100%;
        }
      }

      .--am {
        margin-right: 17px;
      }
    }
  }

  &_copyright {
    display: block;
    text-align: right;
    font-size: 11px;
    line-height: 3.455;

    @include fo.pc-layout {
      text-align: center;
    }
  }
}